body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 70px;
    margin-right: 80px;
}


.cursive2x {
    font-family: cursive;
    font-size: 200%;
}


.firstFont{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.size150 {
    font-size: 150%;
}

#main_menu {
    text-align: center;
}